#App {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#chartContainer {
    width: 100%; 
    min-height: 300px; 
    min-width: 300px;
}

